@model CatalogOnline2.ViewModels.ChangePasswordViewModel

@{
    Layout = "~/Views/Student/_Layout_Student.cshtml";
    ViewData["Title"] = "ChangePassword";
}

<h1>Change Password</h1>

<form method="post" asp-action="ChangePassword">
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Confirm</button>
</form>